
.create-space {
  margin-top: 230px;
}

.style-intro {
  font-family: love ya like a sister;
  font-size: 70px;
}

.style-label {
  font-family: indie flower;
  font-size: 30px;
}
.search-page, .results-page {
  text-align: center;
}

.style-center {
  text-align: center;
}
.style-search {
  font-size: 20px;
  width: 500px;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 15px;
  border-radius: 10px;
}

/*.topic-headers {
  font-size: 30px;
  font-family: baloo;

}*/
.headers {
  border: 2px solid black;
  background-color: #C0C0C0;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: Baloo;
  font-size: 20px

}

.headers:hover {
  background-color: #ADD8E6;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px #A9A9A9;
  font-size: 25px;
  transition-duration: .5s;
}

.info-summary {
  border: 2px solid black;
  background-color: #C0C0C0;
  padding: 18px;
  font-family: Baloo;
  height: 250px;
  overflow: scroll;
}

.info-summary:hover {
  background-color: #ADD8E6;
  height: 350px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px #A9A9A9;
  font-size: 18px;
  transition-duration: .5s;
}


.button-container {
  margin-top: 25px;
  margin-bottom: 45px;
}

.search-button {
  font-size: 55px;
  width: 100%;
  background-color: #C0C0C0;
  font-family: indie flower;
  /*-webkit-transition-duration: 0.8s; /* Safari */*/
  transition-duration: 3s;

  border: 1px solid black;
}

.prev-button, .return-home-button {
  background-color: #C0C0C0;
  font-family: indie flower;
  transition-duration: 3s;
  border: 1px solid black;
  width: 100%;
}

.search-button.smaller, .prev-button.smaller, .return-home-button.smaller {
  font-size: 30px;
  height: 50px;
  transition-duration: 1s;
}

.youtube-heading {
  border: 2px solid black;
  font-size: 20px;
  background-color: #C0C0C0;
  padding: 5px;
  font-family: Baloo;
}

.youtube-heading:hover {
  background-color: #ADD8E6;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px #A9A9A9;
  font-size: 23px;
  transition-duration: .5s;
}

.youbtube-heading-container {
  margin-bottom: 30px;
}

.youtube-channel-links {
  font-family: baloo;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.youtube-channel-links:hover {
  font-size: 25px;
  color: #196619;
  transition-duration: .5s;
}
.conf-buttons {
  background-color: #C0C0C0;
  font-family: baloo;
  border: 1px solid black;
  font-size: 15px;
  padding: 3px;
}

.back, .more {
  background-color: #C0C0C0;
  font-family: baloo;
  border: 2px solid black;
  font-size: 20px;
  padding: 3px;
  margin-bottom: 10px;
}

.back:hover, .more:hover {
  padding: 5px;
  background-color: #ffcc99;
  font-size: 25px;
  transition-duration: .5s;
}

.conf-home:hover {
  background-color: #ff8566;
  transition-duration: .5s;
}

.go-to-results-button:hover {
  background-color: #adebad;
  transition-duration: .5s;
}
.conf-buttons:hover {
  padding: 10px;
  font-size: 15px;
  transition-duration: .5s;
}
.prev-button:hover {
  background-color: #7FFFD4;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px #A9A9A9;
}

.return-home-button:hover {
  background-color: #ADD8E6;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-shadow: 2px 2px #A9A9A9;
}
.show:hover {
  background-color: #FFB6C1;
}

.movie:hover {
  background-color: #87ceeb;
}
.author:hover {
 background-color: #ffffb3;

}
.book:hover {
  background-color: #ffa07a;
}

.game:hover{
  background-color: #90ee90;
}

.music:hover{
  background-color: #ffb3ff;

}

.all:hover {
  background-color: #E6E6FA;

}
.search-button:hover {
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-shadow: 2px 2px #A9A9A9;
}


.wide-button {
  width: 100%;
}


.hide {
  display: none;
}

.column {
  display: inline-block;
}

.col1 {
  width: 50%;
  /*position: fixed;*/
  margin-left: 30px;
  margin-top: 30px;
}
.col2 {
  width: 30%;
  float: right;
  margin-top: 40px;
}

.col3 {
  width: 35%;
  float: left;
  padding-top: 30px;
}


.col4 {
  width: 55%;

}

.info-image {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 3px solid black;
}

.info-image:hover {
  width: 450px;
  height: 450px;
  transition-duration: .5s;
}

.result-thumbs {
  height: 175px;
  width: 150px;
  border: 2px solid black;
}

.thumbs, {
  height: 330x;
  width: 250px;
  border: 2px solid black;
}

.thumbs:hover, {
  height: 350px;
  width: 300px;
  transition-duration: .5s;
}
.result-thumbs:hover {
  height: 275px;
  width: 230px;
  transition-duration: .5s;
}

.result-list {
  text-align: left;
  margin-left: 20px;
}
.youtube-results-and-button {
  overflow: scroll;
  height: 600px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #C0C0C0;
}

.youtube-results-and-button:hover {
  background-color: #ADD8E6;
  transition-duration: .5s;
}

.result-list {
  padding: 15px;
  height: 510px;
  width: 320px;
  overflow: scroll;
  padding-left: 35px;
  padding-top: 30px;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: #C0C0C0;
  margin-left: auto;
  margin-right: auto;
}

.result-list:hover {
  height: 600px;
  width: 350px;
  background-color: #ADD8E6;
  transition-duration: .5s;
}

.next-prev, .page-number {
  background-color: #C0C0C0;
  font-family: Baloo;
  font-size: 20px;
  border: 2px solid black;
}

.next-prev:hover {
  background-color: #ecc6d9;
  font-size: 25px;
  transition-duration: .5s;
}

.page-number:hover {
  background-color: #ADD8E6;
  font-size: 25px;
  transition-duration: .5s;
}
.page-number {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.results {
  font-family: Baloo;
  font-size: 20px;
}

.result-info-heading {
  border: 2px solid black;
  font-family: Baloo;
  font-size: 30px;
  background-color: #C0C0C0;
  margin-top: 30px;
  margin-bottom: 20px:

}

.result-info-heading:hover {
  background-color: #ADD8E6;
  font-size: 40px;
  transition-duration: .5s;
}

.info-paragraph {
  border: 2px solid black;
  font-family: Baloo;
  font-size: 15px;
  background-color: #C0C0C0;
  margin-bottom: 20px;
  height: 250px;
  overflow: scroll;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;

}

.info-paragraph:hover {
  background-color: #ADD8E6;
  font-size: 17px;
  transition-duration: .5s;
  height: 300px;
}

.iFrame {
  margin: 15px;
}

.info-buttons {
  border: 2px solid black;
  font-family: Baloo;
  font-size: 20px;
  background-color: #C0C0C0;
}

.info-buttons:hover {
  background-color: #ffff99;
  font-size: 25px;
  transition-duration: .5s;
}

.info-buttons-container {
  margin-bottom: 20px;
}
